<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BaiqiSoft.WinFormsHtmlEditor.NET4" version="24.2.17" targetFramework="net461" />
  <package id="ClosedXML" version="0.94.2" targetFramework="net461" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net461" />
  <package id="ExcelNumberFormat" version="1.0.3" targetFramework="net461" />
  <package id="FastMember" version="1.3.0" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.11.24" targetFramework="net461" />
  <package id="log4net" version="3.0.0" targetFramework="net48" />
  <package id="Microsoft.ReportViewer.Common" version="10.0.40219.1" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.1" targetFramework="net461" />
  <package id="System.IO.Packaging" version="4.0.0" targetFramework="net461" />
</packages>