USE [master]
GO
/****** Object:  Database [HalliburtonRFQ]    Script Date: 07-06-2024 15:38:01 ******/
CREATE DATABASE [HalliburtonRFQ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HalliburtonRFQ', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVERSQL\MSSQL\DATA\HalliburtonRFQ.mdf' , SIZE = 85184KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HalliburtonRFQ_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVERSQL\MSSQL\DATA\HalliburtonRFQ_log.ldf' , SIZE = 20416KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HalliburtonRFQ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HalliburtonRFQ]
GO
/****** Object:  UserDefinedTableType [dbo].[RequestHeader]    Script Date: 07-06-2024 15:38:01 ******/
CREATE TYPE [dbo].[RequestHeader] AS TABLE(
	[ReqID] [bigint] NOT NULL,
	[Status] [int] NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[RequestLiner]    Script Date: 07-06-2024 15:38:01 ******/
CREATE TYPE [dbo].[RequestLiner] AS TABLE(
	[SNo] [nvarchar](10) NOT NULL,
	[PartNumber] [nvarchar](20) NOT NULL,
	[Qty] [int] NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[RFQLiner]    Script Date: 07-06-2024 15:38:01 ******/
CREATE TYPE [dbo].[RFQLiner] AS TABLE(
	[SNo] [int] NOT NULL,
	[PartNumber] [nvarchar](20) NOT NULL,
	[Qty] [int] NOT NULL,
	[Price] [decimal](18, 2) NULL,
	[ShippingDate] [datetime] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[udt_FO_RFQ_Header]    Script Date: 07-06-2024 15:38:01 ******/
CREATE TYPE [dbo].[udt_FO_RFQ_Header] AS TABLE(
	[RFQ_Date] [varchar](max) NULL,
	[Requester] [varchar](max) NULL,
	[SAP Material Number] [varchar](max) NULL,
	[Legacy] [varchar](max) NULL,
	[Description] [varchar](max) NULL,
	[Scope of Work] [varchar](max) NULL,
	[Drawing] [varchar](max) NULL,
	[REV] [varchar](max) NULL,
	[LG] [varchar](max) NULL,
	[Material Assigned] [varchar](max) NULL,
	[MRPController] [varchar](max) NULL,
	[RFQ refer] [varchar](max) NULL,
	[Deadline] [varchar](max) NULL,
	[P-info for master routing] [varchar](max) NULL,
	[Fixed source] [varchar](max) NULL,
	[Complex(C)_NonComplex(NC)] [varchar](max) NULL,
	[MaterialGrade] [varchar](max) NULL,
	[STDLeadTime] [varchar](max) NULL,
	[ThreadRecommendedVendor] [varchar](max) NULL,
	[HPP] [varchar](max) NULL,
	[ManualCheckOnTheHPPAndThreads] [varchar](max) NULL,
	[InputkeywordincolumnS] [varchar](max) NULL,
	[Pinfo record-HY] [varchar](max) NULL,
	[Pinfo record-SW] [varchar](max) NULL,
	[Pinfo record-RH] [varchar](max) NULL,
	[Pinfo record-SU] [varchar](max) NULL,
	[Pinfo record-DMC] [varchar](max) NULL,
	[Pinfo record-EPS] [varchar](max) NULL,
	[Pinfo record-VSM] [varchar](max) NULL,
	[Pinfo record-FCL] [varchar](max) NULL,
	[Pinfo record-Taimaru] [varchar](max) NULL,
	[Pinfo record-EA] [varchar](max) NULL,
	[Pinfo record-Dmet] [varchar](max) NULL,
	[Pinfo record-PH] [varchar](max) NULL,
	[Pinfo record-CP] [varchar](max) NULL,
	[Pinfo record-Unity] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[udt_FO_RFQ_Liner]    Script Date: 07-06-2024 15:38:01 ******/
CREATE TYPE [dbo].[udt_FO_RFQ_Liner] AS TABLE(
	[SAP Material Number] [varchar](max) NULL,
	[RFQ refer] [varchar](max) NULL,
	[Vendor ID] [varchar](max) NULL,
	[Vendor Quote] [varchar](max) NULL,
	[UOM] [varchar](max) NULL,
	[Price Scale (1-3)] [decimal](18, 2) NULL,
	[Price Scale (4-9)] [decimal](18, 2) NULL,
	[Price Scale (>=10)] [decimal](18, 2) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[udt_PP_RFQ_Header]    Script Date: 07-06-2024 15:38:01 ******/
CREATE TYPE [dbo].[udt_PP_RFQ_Header] AS TABLE(
	[Batch] [varchar](max) NULL,
	[PIC] [varchar](max) NULL,
	[Duplicates] [varchar](max) NULL,
	[Ordered Part] [varchar](max) NULL,
	[Part Description] [varchar](max) NULL,
	[MRPController] [varchar](max) NULL,
	[MaterialType] [varchar](max) NULL,
	[MMPPStatus] [varchar](max) NULL,
	[MMPPChangedOn] [varchar](max) NULL,
	[Buyer] [varchar](max) NULL,
	[OrderQuantity] [varchar](max) NULL,
	[Vendor] [varchar](max) NULL,
	[MinLPST] [varchar](max) NULL,
	[Category] [varchar](max) NULL,
	[FPFullDate] [varchar](max) NULL,
	[Year] [varchar](max) NULL,
	[TK_PP] [varchar](max) NULL,
	[RFQ_Refer] [varchar](max) NULL,
	[RFQDeadline] [varchar](max) NULL,
	[Aging] [varchar](max) NULL,
	[0801 Spec/RM Assign] [varchar](max) NULL,
	[FixedSource] [varchar](max) NULL,
	[AltSource] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[udt_PP_RFQ_Liner]    Script Date: 07-06-2024 15:38:01 ******/
CREATE TYPE [dbo].[udt_PP_RFQ_Liner] AS TABLE(
	[RFQ_Refer] [varchar](max) NULL,
	[OrderedPart] [varchar](max) NULL,
	[Vendor_ID] [varchar](max) NULL,
	[UOM] [varchar](max) NULL,
	[Conversion_Qty] [varchar](max) NULL,
	[Country_Of_Origin] [varchar](max) NULL,
	[LeadTime] [varchar](max) NULL,
	[Quotation] [varchar](max) NULL,
	[Currency] [varchar](max) NULL,
	[Price_Break_1] [decimal](18, 2) NULL,
	[Price_Break_2] [decimal](18, 2) NULL,
	[Price_Break_3] [decimal](18, 2) NULL,
	[Price_Break_4] [decimal](18, 2) NULL,
	[Price_Break_5] [decimal](18, 2) NULL,
	[Price_Break_10] [decimal](18, 2) NULL,
	[Price_Break_25] [decimal](18, 2) NULL,
	[Price_Break_50] [decimal](18, 2) NULL,
	[Price_Break_100] [decimal](18, 2) NULL,
	[Remarks] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[udt_Vendor_UPD_FO_RFQ_Liner]    Script Date: 07-06-2024 15:38:01 ******/
CREATE TYPE [dbo].[udt_Vendor_UPD_FO_RFQ_Liner] AS TABLE(
	[RFQ refer] [varchar](max) NULL,
	[Material Number] [varchar](max) NULL,
	[Vendor ID] [varchar](max) NULL,
	[Country_Of_Origin] [varchar](max) NULL,
	[Order_Quantity] [varchar](max) NULL,
	[Vendor Quote] [varchar](max) NULL,
	[UOM] [varchar](max) NULL,
	[LeadTime] [varchar](max) NULL,
	[Currency] [varchar](max) NULL,
	[Price_Scale(1-3)] [decimal](18, 2) NULL,
	[Price_Scale(4-9)] [decimal](18, 2) NULL,
	[Price_Scale(>=10)] [decimal](18, 2) NULL,
	[Remarks] [varchar](max) NULL,
	[ErrorStatus] [varchar](max) NULL
)
GO
/****** Object:  Table [dbo].[CommonConfig]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommonConfig](
	[ConfigID] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ConfigKey] [nvarchar](50) NULL,
	[ConfigValue] [nvarchar](max) NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_BillConfig] PRIMARY KEY CLUSTERED 
(
	[ConfigID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_FO_RFQ_Header]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_FO_RFQ_Header](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RFQ_Date] [varchar](max) NULL,
	[Requester] [varchar](max) NULL,
	[SAP Material Number] [varchar](max) NULL,
	[Legacy] [varchar](max) NULL,
	[Description] [varchar](max) NULL,
	[Scope of Work] [varchar](max) NULL,
	[Drawing] [varchar](max) NULL,
	[REV] [varchar](max) NULL,
	[LG] [varchar](max) NULL,
	[Material Assigned] [varchar](max) NULL,
	[UOM] [varchar](max) NULL,
	[MRPController] [varchar](max) NULL,
	[RFQ refer] [varchar](max) NULL,
	[Deadline] [varchar](max) NULL,
	[P-info for 
master routing] [varchar](max) NULL,
	[Fixed source] [varchar](max) NULL,
	[Complex(C)_NonComplex(NC)] [varchar](max) NULL,
	[MaterialGrade] [varchar](max) NULL,
	[STDLeadTime] [varchar](max) NULL,
	[ThreadRecommendedVendor] [varchar](max) NULL,
	[HPP] [varchar](max) NULL,
	[ManualCheckOnTheHPPAndThreads] [varchar](max) NULL,
	[InputkeywordincolumnS] [varchar](max) NULL,
	[Pinfo record-HY] [varchar](max) NULL,
	[Pinfo record-SW] [varchar](max) NULL,
	[Pinfo record-RH] [varchar](max) NULL,
	[Pinfo record-SU] [varchar](max) NULL,
	[Pinfo record-DMC] [varchar](max) NULL,
	[Pinfo record-EPS] [varchar](max) NULL,
	[Pinfo record-VSM] [varchar](max) NULL,
	[Pinfo record-FCL] [varchar](max) NULL,
	[Pinfo record-Taimaru] [varchar](max) NULL,
	[Pinfo record-EA] [varchar](max) NULL,
	[Pinfo record-Dmet] [varchar](max) NULL,
	[Pinfo record-PH] [varchar](max) NULL,
	[Pinfo record-CP] [varchar](max) NULL,
	[Pinfo record-Unity] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tbl_FO_RFQ_Header] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_FO_RFQ_Liner]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_FO_RFQ_Liner](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SAP Material Number] [varchar](max) NULL,
	[RFQ refer] [varchar](max) NULL,
	[Vendor ID] [varchar](max) NULL,
	[Country_Of_Origin] [varchar](max) NULL,
	[Order_Quantity] [varchar](max) NULL,
	[Vendor Quote] [varchar](max) NULL,
	[UOM] [varchar](max) NULL,
	[Currency] [varchar](max) NULL,
	[Price Scale (1-3)] [decimal](18, 2) NULL,
	[Price Scale (4-9)] [decimal](18, 2) NULL,
	[Price Scale (>=10)] [decimal](18, 2) NULL,
	[Remarks] [varchar](max) NULL,
	[LeadTime] [varchar](max) NULL,
	[ErrorStatus] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_FO_RFQ_Liner_deleted]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_FO_RFQ_Liner_deleted](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SAP Material Number] [varchar](max) NULL,
	[RFQ refer] [varchar](max) NULL,
	[Vendor ID] [varchar](max) NULL,
	[Country_Of_Origin] [varchar](max) NULL,
	[Order_Quantity] [varchar](max) NULL,
	[Vendor Quote] [varchar](max) NULL,
	[UOM] [varchar](max) NULL,
	[Currency] [varchar](max) NULL,
	[Price Scale (1-3)] [decimal](18, 2) NULL,
	[Price Scale (4-9)] [decimal](18, 2) NULL,
	[Price Scale (>=10)] [decimal](18, 2) NULL,
	[Remarks] [varchar](max) NULL,
	[LeadTime] [varchar](max) NULL,
	[ErrorStatus] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_PP_RFQ_Header]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_PP_RFQ_Header](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Batch] [varchar](max) NULL,
	[PIC] [varchar](max) NULL,
	[Duplicates] [varchar](max) NULL,
	[OrderedPart] [varchar](max) NULL,
	[PartDescription] [varchar](max) NULL,
	[MRPController] [varchar](max) NULL,
	[MaterialType] [varchar](max) NULL,
	[MMPPStatus] [varchar](max) NULL,
	[MMPPChangedOn] [varchar](max) NULL,
	[Buyer] [varchar](max) NULL,
	[OrderQuantity] [varchar](max) NULL,
	[Vendor] [varchar](max) NULL,
	[MinLPST] [varchar](max) NULL,
	[Category] [varchar](max) NULL,
	[FPFullDate] [varchar](max) NULL,
	[Year] [varchar](max) NULL,
	[TK_PP] [varchar](max) NULL,
	[RFQ_Refer] [varchar](max) NULL,
	[RFQDeadline] [varchar](max) NULL,
	[Aging] [varchar](max) NULL,
	[UOM] [varchar](max) NULL,
	[0801 Spec/RM Assign] [nvarchar](max) NULL,
	[FixedSource] [varchar](max) NULL,
	[AltSource] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [ppheader_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_PP_RFQ_Liner]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_PP_RFQ_Liner](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RFQ_Refer] [varchar](max) NULL,
	[OrderedPart] [varchar](max) NULL,
	[Vendor_ID] [varchar](max) NULL,
	[UOM] [varchar](max) NULL,
	[Conversion_Qty] [varchar](max) NULL,
	[Country_Of_Origin] [varchar](max) NULL,
	[LeadTime] [varchar](max) NULL,
	[Quotation] [varchar](max) NULL,
	[Currency] [varchar](max) NULL,
	[Price_Break_1] [decimal](18, 2) NULL,
	[Price_Break_2] [decimal](18, 2) NULL,
	[Price_Break_3] [decimal](18, 2) NULL,
	[Price_Break_4] [decimal](18, 2) NULL,
	[Price_Break_5] [decimal](18, 2) NULL,
	[Price_Break_10] [decimal](18, 2) NULL,
	[Price_Break_25] [decimal](18, 2) NULL,
	[Price_Break_50] [decimal](18, 2) NULL,
	[Price_Break_100] [decimal](18, 2) NULL,
	[Status] [varchar](max) NULL,
	[Remarks] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_PP_RFQ_Liner_deleted]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_PP_RFQ_Liner_deleted](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RFQ_Refer] [varchar](max) NULL,
	[OrderedPart] [varchar](max) NULL,
	[Vendor_ID] [varchar](max) NULL,
	[UOM] [varchar](max) NULL,
	[Conversion_Qty] [varchar](max) NULL,
	[Country_Of_Origin] [varchar](max) NULL,
	[LeadTime] [varchar](max) NULL,
	[Quotation] [varchar](max) NULL,
	[Currency] [varchar](max) NULL,
	[Price_Break_1] [decimal](18, 2) NULL,
	[Price_Break_2] [decimal](18, 2) NULL,
	[Price_Break_3] [decimal](18, 2) NULL,
	[Price_Break_4] [decimal](18, 2) NULL,
	[Price_Break_5] [decimal](18, 2) NULL,
	[Price_Break_10] [decimal](18, 2) NULL,
	[Price_Break_25] [decimal](18, 2) NULL,
	[Price_Break_50] [decimal](18, 2) NULL,
	[Price_Break_100] [decimal](18, 2) NULL,
	[Status] [varchar](max) NULL,
	[Remarks] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblProduct]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProduct](
	[ProductID] [bigint] IDENTITY(1,1) NOT NULL,
	[PartNumber] [nvarchar](30) NULL,
	[Description] [nvarchar](200) NULL,
	[VendorID] [bigint] NULL,
 CONSTRAINT [PK_tblProduct] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblProductVendorMapping]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProductVendorMapping](
	[ProductMappingID] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductID] [bigint] NULL,
	[PartNumber] [nvarchar](20) NULL,
	[VendorID] [bigint] NULL,
 CONSTRAINT [PK_tblProductVendorMapping] PRIMARY KEY CLUSTERED 
(
	[ProductMappingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblRequestHeader]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRequestHeader](
	[ReqID] [bigint] IDENTITY(1,1) NOT NULL,
	[ReqNumber] [nvarchar](20) NULL,
	[RequestorName] [nvarchar](30) NULL,
	[RequestDate] [datetime] NULL,
	[RequestorMail] [nvarchar](50) NULL,
	[ReviewedBy] [nvarchar](30) NULL,
	[DateOfReview] [datetime] NULL,
	[Status] [int] NULL,
	[Comments] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tblRequestHeader] PRIMARY KEY CLUSTERED 
(
	[ReqID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblRequestLiner]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRequestLiner](
	[ReqLinerID] [bigint] IDENTITY(1,1) NOT NULL,
	[ReqID] [bigint] NULL,
	[ReqNumber] [nvarchar](20) NULL,
	[PartNumber] [nvarchar](20) NULL,
	[Qty] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tblRequestLiner] PRIMARY KEY CLUSTERED 
(
	[ReqLinerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblRFQHeader]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRFQHeader](
	[RFQID] [bigint] IDENTITY(1,1) NOT NULL,
	[RFQNumber] [nvarchar](20) NOT NULL,
	[ReqID] [bigint] NOT NULL,
	[SenderName] [nvarchar](30) NOT NULL,
	[SenderMail] [nvarchar](50) NOT NULL,
	[VendorID] [bigint] NOT NULL,
	[RFQSendDate] [datetime] NOT NULL,
	[ReceivedDate] [datetime] NULL,
	[BiddingDeadLineDate] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
	[Comments] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tblRFQHeader] PRIMARY KEY CLUSTERED 
(
	[RFQID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblRFQLiner]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRFQLiner](
	[RFQLinerID] [bigint] IDENTITY(1,1) NOT NULL,
	[RFQID] [bigint] NOT NULL,
	[PartNumber] [nvarchar](20) NOT NULL,
	[Qty] [int] NOT NULL,
	[Price] [decimal](18, 2) NULL,
	[ShippingDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tblRFQLiner] PRIMARY KEY CLUSTERED 
(
	[RFQLinerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblStatus]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStatus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](20) NULL,
	[Descrption] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tblStatus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblVendor]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblVendor](
	[VendorID] [bigint] NULL,
	[VendorCode] [nvarchar](50) NULL,
	[VendorName] [nvarchar](200) NULL,
	[Email] [nvarchar](max) NULL,
	[PersonContact] [nvarchar](200) NULL,
	[Country] [varchar](100) NULL,
	[FolderPath] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  UserDefinedFunction [dbo].[Split]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Split]
(
@String NVARCHAR(4000),
@Delimiter NCHAR(1)
)
RETURNS TABLE 
AS
RETURN 
(
WITH Split(stpos,endpos) 
AS(
SELECT 0 AS stpos, CHARINDEX(@Delimiter,@String) AS endpos
UNION ALL
SELECT endpos+1, CHARINDEX(@Delimiter,@String,endpos+1)
FROM Split
WHERE endpos > 0
)
SELECT 'Id' = ROW_NUMBER() OVER (ORDER BY (SELECT 1)),
'Data' = SUBSTRING(@String,stpos,COALESCE(NULLIF(endpos,0),LEN(@String)+1)-stpos)
FROM Split
)

GO
ALTER TABLE [dbo].[tblRequestLiner]  WITH CHECK ADD  CONSTRAINT [FK_tblRequestLiner_tblRequestHeader] FOREIGN KEY([ReqID])
REFERENCES [dbo].[tblRequestHeader] ([ReqID])
GO
ALTER TABLE [dbo].[tblRequestLiner] CHECK CONSTRAINT [FK_tblRequestLiner_tblRequestHeader]
GO
/****** Object:  StoredProcedure [dbo].[SP_FO_FRQ_LINER]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		OCS
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_FO_FRQ_LINER]
	@ACTION int,
	@MATL_NBR varchar(30)=null,
	@RFQ_REF_NBR varchar(30)=null,
	@VENDOR_ID varchar(30)=null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF @ACTION=1 --select SAP Material
		BEGIN
			select distinct [SAP Material Number] from [tbl_FO_RFQ_Liner];
		END
	IF @ACTION=2 --select SAP Material
		BEGIN
			select distinct [RFQ refer] from [tbl_FO_RFQ_Liner] where [SAP Material Number]=@MATL_NBR;
		END

	IF @ACTION=3 --select Vendor
		BEGIN
			select distinct [Vendor ID] from [tbl_FO_RFQ_Liner] where [SAP Material Number]=@MATL_NBR and [RFQ refer]=@RFQ_REF_NBR ;
		END

	IF @ACTION=4 --select Vendor
		BEGIN
			SELECT [ID],[SAP Material Number],[RFQ refer],[Vendor ID],[Country_Of_Origin],[Order_Quantity],[Vendor Quote]
			,[UOM],[Currency] ,[Price Scale (1-3)] ,[Price Scale (4-9)],[Price Scale (>=10)]
			,[Remarks],[LeadTime] ,[ErrorStatus] ,[CreatedDate],[ModifiedDate]
			  FROM [tbl_FO_RFQ_Liner] where 
			[SAP Material Number]=@MATL_NBR and [RFQ refer]=@RFQ_REF_NBR and [Vendor ID]=@VENDOR_ID;
		END

    -- Insert statements for procedure here
	
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GET_ALL_CONFIGS]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		OCS
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GET_ALL_CONFIGS]
	-- Add the parameters for the stored procedure here
	@ConfigID as int=null,
	@ConfigKey as varchar(20)=null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * from  [CommonConfig] where ([ConfigID]=@ConfigID OR @ConfigID is null) and ([ConfigKey]=@ConfigKey OR @ConfigKey is null);


END

GO
/****** Object:  StoredProcedure [dbo].[SP_PP_RFQ_LINER]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		OCS
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_PP_RFQ_LINER]
	@ACTION int,
	@MATL_NBR varchar(30)=null,
	@RFQ_REF_NBR varchar(30)=null,
	@VENDOR_ID varchar(30)=null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF @ACTION=1 --select SAP Material
		BEGIN
			select distinct OrderedPart from tbl_PP_RFQ_Liner where OrderedPart is not null;
		END
	IF @ACTION=2 --select SAP Material
		BEGIN
			select distinct RFQ_Refer from tbl_PP_RFQ_Liner where OrderedPart=@MATL_NBR;
		END

	IF @ACTION=3 --select Vendor
		BEGIN
			select distinct Vendor_ID from tbl_PP_RFQ_Liner where OrderedPart=@MATL_NBR and RFQ_Refer=@RFQ_REF_NBR ;
		END

	IF @ACTION=4 --select Vendor
		BEGIN
			SELECT ID,[RFQ_Refer],[OrderedPart],[Vendor_ID],[UOM] ,[Conversion_Qty],[Country_Of_Origin],[LeadTime] 
			,[Quotation] ,[Currency],[Price_Break_1],[Price_Break_2] ,[Price_Break_3] ,[Price_Break_4],[Price_Break_5] 
			,[Price_Break_10] ,[Price_Break_25],[Price_Break_50] ,[Price_Break_100] ,[Status],[Remarks],[CreatedDate] 
			,[ModifiedDate]  FROM tbl_PP_RFQ_Liner where 
			OrderedPart=@MATL_NBR and RFQ_Refer=@RFQ_REF_NBR and Vendor_ID=@VENDOR_ID;
		END

    -- Insert statements for procedure here
	
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UPD_FO_RFQ_LINER]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		OCS
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_UPD_FO_RFQ_LINER]
	@ID as int,
	@COO as varchar(20)=null,
	@ORD_QTY as varchar(20)=null,
	@VND_QOTE as varchar(20)=null,
	@UOM as varchar(20)=null,
	@CURRENCY as varchar(20)=null,
	@PS123 as decimal(18,2)=null,
	@PS429 as decimal(18,2)=null,
	@PSGT10 as decimal(18,2)=null,
	@REM as varchar(200)=null,
	@LTIME as varchar(50)=null,
	@MOD_DATE as datetime=null,
	@MDATE  as datetime=null,
	@OrderedPart as varchar(20)=null,
	@RFQ_Refer as varchar(20)=null,
	@Vendor_ID as varchar(10)=null

	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF @ID=0
		BEGIN
			INSERT INTO [dbo].[tbl_FO_RFQ_Liner]
           ([SAP Material Number]
           ,[RFQ refer]
           ,[Vendor ID]
           ,[Country_Of_Origin]
           ,[Order_Quantity]
           ,[Vendor Quote]
           ,[UOM]
           ,[Currency]
           ,[Price Scale (1-3)]
           ,[Price Scale (4-9)]
           ,[Price Scale (>=10)]
           ,[Remarks]
           ,[LeadTime]          
           ,[CreatedDate]
           ,[ModifiedDate])
		   values(@OrderedPart, @RFQ_Refer, @Vendor_ID, @COO, @ORD_QTY, @VND_QOTE, @UOM, @CURRENCY,@PS123, @PS429, @PSGT10, @REM, @LTIME, @MDATE, @MDATE  )
		END

	ELSE
		BEGIN
		-- Insert statements for procedure here
		update tbl_FO_RFQ_Liner  set [Country_Of_Origin]=@COO
		  ,[Order_Quantity]=@ORD_QTY
		  ,[Vendor Quote]=@VND_QOTE
		  ,[UOM]=@UOM
		  ,[Currency]=@CURRENCY
		  ,[Price Scale (1-3)]=@PS123
		  ,[Price Scale (4-9)]=@PS429
		  ,[Price Scale (>=10)]=@PSGT10
		  ,[Remarks]=@REM
		  ,[LeadTime]=@LTIME
		  ,ModifiedDate=@MOD_DATE where id=@ID;
      END
  
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UPD_PP_RFQ_LINER]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		OCS
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_UPD_PP_RFQ_LINER]
@ID as int,
@UOM as varchar(30)=null,
@CQTY  as varchar(30)=null,
@CO as  varchar(30)=null,
@LTIME  as varchar(30)=null,
@QUOTE  as varchar(30)=null,
@CURRENCY  as varchar(30)=null,
@PB1 as decimal(18,2)=null,
@PB2 as decimal(18,2)=null,
@PB3 as decimal(18,2)=null,
@PB4 as decimal(18,2)=null,
@PB5 as decimal(18,2)=null,
@PB10 as decimal(18,2)=null,
@PB25 as decimal(18,2)=null,
@PB50 as decimal(18,2)=null,
@PB100 as decimal(18,2)=null,
@REM as varchar(300)=null,
@MDATE as datetime=null,
@RFQ_Refer as varchar(50)=null,
@OrderedPart as varchar(50)=null,
@Vendor_ID as varchar(50)=null

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF @ID=0
		BEGIN
		 INSERT INTO  [tbl_PP_RFQ_Liner]
           ([RFQ_Refer]
           ,[OrderedPart]
           ,[Vendor_ID]
           ,[UOM]
           ,[Conversion_Qty]
           ,[Country_Of_Origin]
           ,[LeadTime]
           ,[Quotation]
           ,[Currency]
           ,[Price_Break_1]
           ,[Price_Break_2]
           ,[Price_Break_3]
           ,[Price_Break_4]
           ,[Price_Break_5]
           ,[Price_Break_10]
           ,[Price_Break_25]
           ,[Price_Break_50]
           ,[Price_Break_100]           
           ,[Remarks]
           ,[CreatedDate]
           ,[ModifiedDate])
		   values(@RFQ_Refer,@OrderedPart, @Vendor_ID, @UOM,  @CQTY, @CO, @LTIME, @QUOTE, @CURRENCY,
		   @PB1,  @PB2, @PB3, @PB4, @PB5, @PB10, @PB25, @PB50, @PB100, @REM, @MDATE, @MDATE   )
            
		END
	ELSE
		BEGIN
		-- Insert statements for procedure here
		 update [tbl_PP_RFQ_Liner]  
		 set [UOM]=@UOM
		  ,[Conversion_Qty]=@CQTY
		  ,[Country_Of_Origin]=@CO
		  ,[LeadTime]=@LTIME
		  ,[Quotation]=@QUOTE
		  ,[Currency]=@CURRENCY
		  ,[Price_Break_1]=@PB1
		  ,[Price_Break_2]=@PB2
		  ,[Price_Break_3]=@PB3
		  ,[Price_Break_4]=@PB4
		  ,[Price_Break_5]=@PB5
		  ,[Price_Break_10]=@PB10
		  ,[Price_Break_25]=@PB25
		  ,[Price_Break_50]=@PB50
		  ,[Price_Break_100]=@PB100 
		  ,[Remarks]=@REM      
		  ,[ModifiedDate]=@MDATE
		  where [ID]=@ID;
	END

END

GO
/****** Object:  StoredProcedure [dbo].[usp_Fetch_ConfigValue]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Rajan
-- Create date: 10/01/2020
-- Description:	Added user defined table for header and liner
-- =============================================
create procedure [dbo].[usp_Fetch_ConfigValue]
(
@ConfigKey nvarchar(50)
)
as
begin
		SELECT ConfigValue      
		FROM CommonConfig
		WHERE ConfigKey=@ConfigKey
end

GO
/****** Object:  StoredProcedure [dbo].[usp_fetch_ConfigValues]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		ELANGOVAI
-- Create date: 10/01/2020
-- Description:	Get the input excel sheet and path details from the CommonConfig table
-- =============================================
CREATE PROCEDURE [dbo].[usp_fetch_ConfigValues]
AS
BEGIN
	SELECT ConfigKey,ConfigValue FROM CommonConfig where ConfigKey in ('FOSO_ExcelPath','FOSO_ExcelSheet','FOSOSentRFQ');
END


GO
/****** Object:  StoredProcedure [dbo].[usp_FETCH_FO_RFQ_Liner]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_FETCH_FO_RFQ_Liner] 

AS
BEGIN
	SELECT distinct * FROM tbl_FO_RFQ_Liner;
END

GO
/****** Object:  StoredProcedure [dbo].[usp_FETCH_PP_RFQ_Liner]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_FETCH_PP_RFQ_Liner]
as
begin
      select distinct Orderedpart,Vendor_ID,RFQ_Refer,Conversion_Qty from tbl_PP_RFQ_Liner
end

GO
/****** Object:  StoredProcedure [dbo].[usp_FETCH_Vendor_Email]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_FETCH_Vendor_Email] 
(
@VENDOR_CODE VARCHAR(max)

--- exec usp_FETCH_Vendor_Email 'DMET'
)	
AS
BEGIN
SELECT Email,VendorID,VendorName,VendorCode,FolderPath FROM tblVendor WHERE VendorCode=@VENDOR_CODE
	
END



GO
/****** Object:  StoredProcedure [dbo].[usp_FETCH_Vendor_Path]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_FETCH_Vendor_Path] 
(
@VendorCode VARCHAR(max)
)	
AS
BEGIN
		SELECT FolderPath FROM tblVendor WHERE VendorCode=@VendorCode
--SELECT FolderPath FROM tblVendor WHERE (Email like '%' + @VendorEmail + '%' or email=@VendorEmail)
END

GO
/****** Object:  StoredProcedure [dbo].[usp_FetchPartNumber]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Prakash.k
-- Create date: 18-06-2019
-- Description:	Get All PartNumber
-- =============================================
CREATE PROCEDURE [dbo].[usp_FetchPartNumber]
	
AS
BEGIN
	
	SELECT PartNumber,Description 
	FROM tblProduct
END


GO
/****** Object:  StoredProcedure [dbo].[usp_FetchPendingRequestPartNumber]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_FetchPendingRequestPartNumber] 
	
AS
BEGIN
	
	SELECT [ReqID],
		[Select]=CONVERT(bit, 'False')
      ,[ReqNumber]
      ,[RequestorName]
      ,[RequestDate]
      ,[RequestorMail]
      ,[Status]=TS.StatusName
      --,[Comments]
	FROM tblRequestHeader RH
	INNER JOIN tblStatus TS ON TS.ID=RH.Status
	WHERE RH.Status=1


	SELECT RH.[ReqID]
      ,RH.[ReqNumber]
      ,RL.[PartNumber],
	  P.Description
      ,RL.[Qty]
	  FROM tblRequestLiner RL
	  INNER JOIN tblRequestHeader RH ON RH.ReqID=RL.ReqID
	  INNER JOIN tblProduct P ON P.PartNumber=RL.PartNumber
	WHERE  RH.Status=1
END

GO
/****** Object:  StoredProcedure [dbo].[usp_FetchReceivedRFQ]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_FetchReceivedRFQ]
	
AS
BEGIN
	
	SELECT DISTINCT RFH.ReqID,RH.ReqNumber
	FROM tblRFQHeader RFH
	INNER JOIN tblRequestHeader RH ON RH.ReqID=RFH.ReqID
	  WHERE RFH.[Status]=5 
END

GO
/****** Object:  StoredProcedure [dbo].[usp_FetchRequestPartNumber]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Prakash.k
-- Create date: 27-06-2019
-- Description:	Get Request PartNumber
-- =============================================
CREATE PROCEDURE [dbo].[usp_FetchRequestPartNumber] 
	(@RequestorMail NVARCHAR(50) NULL,
	@FromDate DATETIME NULL,
	@ToDate DATETIME NULL,
	@Status NCHAR(5) NULL)
AS
BEGIN
	DECLARE @intStatus INT

	IF(@Status='All' OR ISNULL(@Status,0)=0)
	BEGIN
	SET @intStatus=0;
	END
	ELSE
	BEGIN
	SET @intStatus=CAST(@Status AS INT)
	END


	IF ISNULL(@RequestorMail,'')='' AND ISNULL(@FromDate,'')='' AND ISNULL(@ToDate,'')='' AND ISNULL(@Status,'')<> ''

	BEGIN
	SELECT [ReqID]
      ,[ReqNumber]
      ,[RequestorName]
      ,[RequestDate]
      ,[RequestorMail]
      ,[Status]=TS.StatusName
      ,[Comments]
	  ,ReviewedBy
	  ,DateOfReview
	FROM tblRequestHeader RH
	INNER JOIN tblStatus TS ON TS.ID=RH.Status
	WHERE (RequestorMail=@RequestorMail OR ISNULL(@RequestorMail,'')='')  AND (CONVERT(date, RequestDate) BETWEEN  CONVERT(date, @FromDate)  AND CONVERT(date, @ToDate)  OR (ISNULL(@FromDate,'')='' AND ISNULL(@ToDate,'')='')) AND (RH.Status=@intStatus OR @intStatus=0)


	SELECT RH.[ReqID]
      ,RH.[ReqNumber]
      ,RL.[PartNumber]
	  ,P.Description
      ,RL.[Qty]
	  FROM tblRequestLiner RL
	  INNER JOIN tblRequestHeader RH ON RH.ReqID=RL.ReqID
	  INNER JOIN tblProduct P ON P.PartNumber=RL.PartNumber
	WHERE  (RH.RequestorMail=@RequestorMail OR ISNULL(@RequestorMail,'')='') AND (CONVERT(date, RH.RequestDate) BETWEEN  CONVERT(date, @FromDate)  AND CONVERT(date, @ToDate) OR (ISNULL(@FromDate,'')='' AND ISNULL(@ToDate,'')='')) AND (RH.Status=@Status OR  @intStatus=0)


	SELECT DISTINCT v.Email,V.VendorID
	FROM tblRequestLiner RL
	  INNER JOIN tblRequestHeader RH ON RH.ReqID=RL.ReqID
	  INNER JOIN tblProduct P ON P.PartNumber=RL.PartNumber
	   INNER JOIN tblProductVendorMapping PVM ON PVM.PartNumber=RL.PartNumber
	  
	INNER JOIN tblVendor V ON V.VendorID=PVM.VendorID 

	WHERE (RH.Status=@Status OR  @intStatus=0)
	
	


	END
	ELSE
	BEGIN
	SELECT [ReqID]
      ,[ReqNumber]
      ,[RequestorName]
      ,[RequestDate]
      ,[RequestorMail]
      ,[Status]=TS.StatusName
      ,[Comments]
	FROM tblRequestHeader RH
	INNER JOIN tblStatus TS ON TS.ID=RH.Status
	WHERE (RequestorMail=@RequestorMail OR ISNULL(@RequestorMail,'')='')  AND (CONVERT(date, RequestDate) BETWEEN  CONVERT(date, @FromDate)  AND CONVERT(date, @ToDate)  OR (ISNULL(@FromDate,'')='' AND ISNULL(@ToDate,'')='')) AND (RH.Status=@intStatus OR @intStatus=0)


	SELECT RH.[ReqID]
      ,RH.[ReqNumber]
      ,RL.[PartNumber]
	  ,P.Description
      ,RL.[Qty]
	  FROM tblRequestLiner RL
	  INNER JOIN tblRequestHeader RH ON RH.ReqID=RL.ReqID
	  INNER JOIN tblProduct P ON P.PartNumber=RL.PartNumber
	WHERE  (RH.RequestorMail=@RequestorMail OR ISNULL(@RequestorMail,'')='') AND (CONVERT(date, RH.RequestDate) BETWEEN  CONVERT(date, @FromDate)  AND CONVERT(date, @ToDate) OR (ISNULL(@FromDate,'')='' AND ISNULL(@ToDate,'')='')) AND (RH.Status=@Status OR  @intStatus=0)

END
END

GO
/****** Object:  StoredProcedure [dbo].[usp_FetchStatus]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Prakash.k
-- Create date: 27-06-2019
-- Description:	Get All Status
-- =============================================
CREATE PROCEDURE [dbo].[usp_FetchStatus]
	
AS
BEGIN
	
	SELECT ID,StatusName 
	FROM tblStatus
END


GO
/****** Object:  StoredProcedure [dbo].[usp_GetComparedProducts]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 
CREATE PROCEDURE [dbo].[usp_GetComparedProducts] 
    @ReqID BIGINT
AS
BEGIN
 


 SELECT [ReqID]
      ,[ReqNumber]
      ,[RequestorName]
      ,[RequestDate]
      ,[RequestorMail]
      ,[Status]=TS.StatusName
      ,[Comments]
	  ,ReviewedBy
	  ,DateOfReview
	FROM tblRequestHeader RH
	INNER JOIN tblStatus TS ON TS.ID=RH.Status
	WHERE RH.ReqID =@ReqID;

	

	SELECT 
	DISTINCT RH.RFQID,
	RH.RFQNumber,
	
	V.VendorName,
	SUM(RL.Price) AS Total
	INTO #tblRFQHeader
	FROM tblRFQHeader RH
	INNER JOIN tblRFQLiner RL ON RL.RFQID=RH.RFQID
	INNER JOIN tblVendor V ON V.VendorID=RH.VendorID
	WHERE RH.ReqID =@ReqID AND RH.[Status]=5  
	GROUP BY RH.RFQID,RH.RFQNumber,V.VendorName

	 
	SELECT 
--TOP 3
		RFQID,
		RFQNumber,
		VendorName,
		Total,
		DENSE_RANK () OVER (ORDER BY Total ) AS DenseRank
	INTO #tblRFQHeaderFinal
	FROM #tblRFQHeader
	ORDER BY Total

	SELECT 
		RFQID,
		RFQNumber,
		VendorName,
		Total
	FROM #tblRFQHeaderFinal WHERE DenseRank<=3


	SELECT 
		RH.RFQID,
		RFQNumber,
		RL.PartNumber,
		P.Description,
		RL.Qty,
		RL.Price
	FROM tblRFQLiner RL
	INNER JOIN #tblRFQHeaderFinal RH ON RH.RFQID=RL.RFQID
	INNER JOIN tblProduct P ON P.PartNumber=RL.PartNumber
	WHERE RH.DenseRank<=3 
	ORDER BY RFQID


--	IF OBJECT_ID('tempdb..#TempComparedProducts1') IS NOT NULL
--    DROP TABLE #TempComparedProducts1;
   
--;WITH TempComparedProducts AS (	SELECT RL.PartNumber, 
--		P.[Description]
--		,Qty, 
--		Price    
--        ,V.VendorName
--		,RL.RFQLinerID
--		 ,dense_rank() OVER ( partition by RL.PartNumber ORDER BY Price asc) as ranking       
--		FROM tblRFQLiner RL
--		INNER JOIN tblRFQHeader RH  ON RH.RFQID=RL.RFQID
--		INNER JOIN tblVendor V ON V.VendorID=RH.VendorID
--		INNER JOIN tblProduct P ON P.PartNumber=RL.PartNumber
--        WHERE RH.ReqID =@ReqID AND RH.[Status]=5 
		
--		) 


--		SELECT  PartNumber
--				,[Description]
--				,Qty
--				,Price
				
--				,VendorName INTO #TempComparedProducts1
--			FROM TempComparedProducts

--		where ranking in(1,2,3)
--		group by PartNumber,Price,Qty,VendorName,ranking,Description

--		ORDER BY PartNumber,Price,VendorName



--DECLARE @SQLStatement NVARCHAR(MAX) = N'' --Variable to hold t-sql query
--DECLARE @UniqueCustomersToPivot NVARCHAR(MAX) = N'' --Variable to hold unique customers to be used in PIVOT clause
--DECLARE @PivotColumnsToSelect NVARCHAR(MAX) = N'' --Variable to hold pivot column names with alias to be used in SELECt clause

----Extarct unique customer names with pivot formattings
--SELECT @UniqueCustomersToPivot = @UniqueCustomersToPivot + ', [' + COALESCE(VendorName, '') + ']' FROM (SELECT DISTINCT VendorName FROM #TempComparedProducts1)DT

--SELECT @UniqueCustomersToPivot = LTRIM(STUFF(@UniqueCustomersToPivot, 1, 1, '')) --Remove first comma and space


----Generate column names to be put in SELECT list with NULL handling and aliases also
--SELECT @PivotColumnsToSelect = @PivotColumnsToSelect + ', ISNULL([' + COALESCE(VendorName, '') + '], 0) AS [' + VendorName + ']'
--FROM (SELECT DISTINCT VendorName FROM #TempComparedProducts1)DT


----Generate dynamic PIVOT query here
--SET @SQLStatement =
--N'SELECT PartNumber,Description,Qty'
--+ @PivotColumnsToSelect +
--'
--FROM #TempComparedProducts1 
--PIVOT
--(
--SUM(Price) FOR
--VendorName IN
--(' + @UniqueCustomersToPivot + ')
--) AS PVT
--'


----Execute the dynamic t-sql PIVOT query below
--EXEC (@SQLStatement)


   
END

GO
/****** Object:  StoredProcedure [dbo].[usp_INS_FO_RFQ]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		ELANGOVAI
-- Create date: 08/25/2020
-- Description:	Added columns like Requester, MRPController, MaterialGrade, STDLeadTime, ThreadRecommendedVendor, HPP,ManualCheckOnTheHPPAndThreads
-- =============================================
CREATE PROCEDURE [dbo].[usp_INS_FO_RFQ] 
(
@udt_FO_RFQ_Header DBO.udt_FO_RFQ_Header READONLY,
@udt_FO_RFQ_Liner DBO.udt_FO_RFQ_Liner READONLY
)
AS
BEGIN

	INSERT INTO tbl_FO_RFQ_Header
	(
	   [RFQ_Date]
	  ,[Requester]
      ,[SAP Material Number]
      ,[Legacy]
      ,[Description]
      ,[Scope of Work]
      ,[Drawing]
      ,[REV]
      ,[LG]
      ,[Material Assigned]
	  ,[MRPController]
      ,[RFQ refer]
      ,[Deadline]
      ,[P-info for 
master routing]
      ,[Fixed source]
	  ,[Complex(C)_NonComplex(NC)]
	  ,[MaterialGrade]
	  ,[STDLeadTime]
	  ,[ThreadRecommendedVendor]
	  ,[HPP]
	  ,[ManualCheckOnTheHPPAndThreads]
	  ,[InputkeywordincolumnS]
      ,[Pinfo record-HY]
      ,[Pinfo record-SW]
      ,[Pinfo record-RH]
      ,[Pinfo record-SU]
      ,[Pinfo record-DMC]
      ,[Pinfo record-EPS]
      ,[Pinfo record-VSM]
      ,[Pinfo record-FCL]
      ,[Pinfo record-Taimaru]
      ,[Pinfo record-EA]
      ,[Pinfo record-Dmet]
      ,[Pinfo record-PH]
      ,[Pinfo record-CP]
      ,[Pinfo record-Unity]
      ,[CreatedDate]
      ,[ModifiedDate] 
	)
	SELECT 
	   [RFQ_Date]
	  ,[Requester]
      ,[SAP Material Number]
      ,[Legacy]
      ,[Description]
      ,[Scope of Work]
      ,[Drawing]
      ,[REV]
      ,[LG]
      ,[Material Assigned]
	,[MRPController]
      ,[RFQ refer]
      ,[Deadline]
      ,[P-info for master routing]
      ,[Fixed source]
	,[Complex(C)_NonComplex(NC)]
	,[MaterialGrade]
	,[STDLeadTime]
	,[ThreadRecommendedVendor]
	,[HPP]
	,[ManualCheckOnTheHPPAndThreads]
	,[InputkeywordincolumnS]
      ,[Pinfo record-HY]
      ,[Pinfo record-SW]
      ,[Pinfo record-RH]
      ,[Pinfo record-SU]
      ,[Pinfo record-DMC]
      ,[Pinfo record-EPS]
      ,[Pinfo record-VSM]
      ,[Pinfo record-FCL]
      ,[Pinfo record-Taimaru]
      ,[Pinfo record-EA]
      ,[Pinfo record-Dmet]
      ,[Pinfo record-PH]
      ,[Pinfo record-CP]
      ,[Pinfo record-Unity]
      ,GETDATE()
      ,GETDATE()
	 
  FROM @udt_FO_RFQ_Header;

  INSERT INTO tbl_FO_RFQ_Liner
  (
      [SAP Material Number]
      ,[RFQ refer]
      ,[Vendor ID]
      ,[Vendor Quote]
      ,[UOM]
      ,[Price Scale (1-3)]
      ,[Price Scale (4-9)]
      ,[Price Scale (>=10)]
      ,[CreatedDate]
      ,[ModifiedDate]
  )
  SELECT 
      [SAP Material Number]
      ,[RFQ refer]
      ,[Vendor ID]
      ,[Vendor Quote]
      ,[UOM]
      ,[Price Scale (1-3)]
      ,[Price Scale (4-9)]
      ,[Price Scale (>=10)]
      ,GETDATE()
      ,GETDATE()
  FROM @udt_FO_RFQ_Liner;
END

GO
/****** Object:  StoredProcedure [dbo].[usp_INS_PP_RFQ]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		ULAGARAJAN
-- Create date: 08/31/2020
-- Description:	Added user defined table for header and liner
-- =============================================
create PROCEDURE [dbo].[usp_INS_PP_RFQ] 
(
@udt_PP_RFQ_Header DBO.udt_PP_RFQ_Header READONLY,
@udt_PP_RFQ_Liner DBO.udt_PP_RFQ_Liner READONLY
)
AS
BEGIN

--declare @rfqrefer varchar(max)
--declare @batch varchar(max)
--declare @pic varchar(max)
--declare @duplicate varchar(max)
--declare @orderedpart varchar(max)
--declare @partdesc varchar(max)
--declare @MRPController varchar(max)
--declare @MaterialType varchar(max)
--declare @MMPPStatus varchar(max)
--declare @MMPPChangedOn varchar(max)
--declare @Buyer varchar(max)
--declare @OrderQuantity varchar(max)



--SELECT 
--	 @rfqrefer= isnull([RFQ_Refer],'nullval'),
--		  @batch= [Batch]
--           ,@pic=[PIC]
--           ,@duplicate=[Duplicates]
--           ,@orderedpart=[Ordered Part]
--           ,@partdesc=[Part Description]
--           ,@MRPController=[MRPController]
--           ,@MaterialType=[MaterialType]
--           ,@MMPPStatus=[MMPPStatus]
--           ,@MMPPChangedOn=[MMPPChangedOn]
--           ,@Buyer=[Buyer]
--           ,@OrderQuantity=[OrderQuantity]          
--  FROM @udt_PP_RFQ_Header;

--  print 'rfqrefer'
--  print  @rfqrefer
--  print 'batch'
--  print  @batch
--  print 'pic'
--  print  @pic
--  print 'duplicate:' 
--  print @duplicate
--  print 'orderpart:'
--  print @orderedpart



INSERT INTO [dbo].[tbl_PP_RFQ_Header]
           (
           [Batch]
           ,[PIC]
           ,[Duplicates]
           ,[OrderedPart]
           ,[PartDescription]
           ,[MRPController]
           ,[MaterialType]
           ,[MMPPStatus]
           ,[MMPPChangedOn]
           ,[Buyer]
           ,[OrderQuantity]
		   ,[Vendor]
           ,[MinLPST]
           ,[Category]
           ,[FPFullDate]
           ,[Year]
           ,[TK_PP],
		    [RFQ_Refer]
           ,[RFQDeadline]           
		   ,[Aging]           
		   ,[0801 Spec/RM Assign]           
           ,[FixedSource]
           ,[AltSource]
           ,[CreatedDate]
           ,[ModifiedDate])

	SELECT 	    
		  [Batch]
           ,[PIC]
           ,[Duplicates]
           ,[Ordered Part]
           ,[Part Description]
           ,[MRPController]
           ,[MaterialType]
           ,[MMPPStatus]
           ,[MMPPChangedOn]
           ,[Buyer]
           ,[OrderQuantity]
		   ,[Vendor]
           ,[MinLPST]
           ,[Category]
           ,[FPFullDate]
           ,[Year]
           ,[TK_PP]
		    ,[RFQ_Refer]
           ,[RFQDeadline]           
           ,[Aging]           
		   ,[0801 Spec/RM Assign]       
           ,[FixedSource]
           ,[AltSource]
           ,[CreatedDate]
           ,[ModifiedDate]
  FROM @udt_PP_RFQ_Header;

  print 'header ok'

INSERT INTO [dbo].[tbl_PP_RFQ_Liner]
           (
           [RFQ_Refer]
           ,[OrderedPart]
           ,[Vendor_ID]
		   ,[UOM]
           ,[Conversion_Qty]
		   ,[Country_Of_Origin]
           ,[LeadTime]
           ,[Quotation]
           ,[Currency]
           ,[Price_Break_1]
           ,[Price_Break_2]
           ,[Price_Break_3]
		   ,[Price_Break_4]
           ,[Price_Break_5]
           ,[Price_Break_10]
           ,[Price_Break_25]
           ,[Price_Break_50]
           ,[Price_Break_100]
           ,[Remarks]
           ,[CreatedDate]
           ,[ModifiedDate])

  SELECT 
			 [RFQ_Refer]
           ,[OrderedPart]
           ,[Vendor_ID]
		    ,[UOM]
           ,[Conversion_Qty]
		    ,[Country_Of_Origin]
           ,[LeadTime]
           ,[Quotation]
           ,[Currency]
           ,[Price_Break_1]
           ,[Price_Break_2]
           ,[Price_Break_3]
		   ,[Price_Break_4]
           ,[Price_Break_5]
           ,[Price_Break_10]
           ,[Price_Break_25]
           ,[Price_Break_50]
           ,[Price_Break_100]
           ,[Remarks]
           ,[CreatedDate]
           ,[ModifiedDate]
  FROM @udt_PP_RFQ_Liner;

  print 'liner ok'

END

GO
/****** Object:  StoredProcedure [dbo].[usp_InsertRFQPartNumber]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_InsertRFQPartNumber]
	
(@ReqID BIGINT,
@VendorID BIGINT, 
@SenderName VARCHAR(30),
@SenderMail VARCHAR(50),
@RFQLiner dbo.RFQLiner READONLY  )
AS
BEGIN
	
	DECLARE @RFQPrefix NVARCHAR(10)
	DECLARE @RFQNumber  NVARCHAR(20)
	DECLARE @RFQID BIGINT
	SET @RFQID=0
	---Get RFQ Number Prefix
	SELECT @RFQPrefix=ISNULL(ConfigValue,'') 
		FROM CommonConfig 
		WHERE [ConfigKey]='RFQ'

	---Generate RFQ Number 

	SELECT @RFQNumber=( @RFQPrefix + RIGHT('000' + CONVERT(varchar, ISNULL(MAX(RFQID),0) +1),5) )
		FROM tblRFQHeader

	
	
	INSERT INTO tblRFQHeader 
				(ReqID,
				RFQNumber
				,VendorID
				,SenderName
				,RFQSendDate,
				BiddingDeadLineDate
				,SenderMail
				,[Status]
				,CreatedDate)
		VALUES(@ReqID
				,@RFQNumber
				,@VendorID
				,@SenderName
				,GETDATE(),
				DATEADD(DD,3,Getdate())
				,@SenderMail
				,4
				,GETDATE())
	SELECT @RFQID=SCOPE_IDENTITY();
		IF @RFQID<>0
		BEGIN

		INSERT INTO tblRFQLiner 
					(RFQID
					,PartNumber
					,Qty
					,CreatedDate)
		SELECT	 @RFQID
				
				,PartNumber
				,Qty
				,GETDATE()
			FROM @RFQLiner

		END
		IF @RFQID<>0
		BEGIN
		SELECT  @RFQNumber +'  Requested Successfully' as [StatusDesc],1 as [Status],@RFQNumber as RFQNumber

		END
		else
		BEGIN
		SELECT 'RFQ Created Failed' as [StatusDesc],0 as [Status] ,@RFQNumber as RFQNumber
		END
END

GO
/****** Object:  StoredProcedure [dbo].[usp_InsertUpdateRequestPartNumber]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Prakash.k
-- Create date: 27-06-2019
-- Description:	Request PartNumber Insertion
-- =============================================
CREATE PROCEDURE [dbo].[usp_InsertUpdateRequestPartNumber]
	
(@RequestorName VARCHAR(30),
@RequestorMail VARCHAR(30),
@RequestLiner dbo.RequestLiner READONLY  )
AS
BEGIN
	
	DECLARE @ReqPrefix NVARCHAR(10)
	DECLARE @RequestNumner  NVARCHAR(20)
	DECLARE @ReqID BIGINT
	SET @ReqID=0
	---Get Request Number Prefix
	SELECT @ReqPrefix=ISNULL(ConfigValue,'') 
		FROM CommonConfig 
		WHERE [ConfigKey]='Request'

	---Generate Request Number 

	SELECT @RequestNumner=( @ReqPrefix + RIGHT('000' + CONVERT(varchar, ISNULL(MAX(ReqID),0) +1),5) )
		FROM tblRequestHeader

	
	
	INSERT INTO tblRequestHeader 
				(ReqNumber
				,RequestorName
				,RequestDate
				,RequestorMail
				,[Status]
				,CreatedDate)
		VALUES(@RequestNumner
				,@RequestorName
				,GETDATE()
				,@RequestorMail
				,1
				,GETDATE())
	SELECT @ReqID=SCOPE_IDENTITY();
		IF @ReqID<>0
		BEGIN

		INSERT INTO tblRequestLiner 
					(ReqID
					,ReqNumber
					,PartNumber
					,Qty
					,CreatedDate)
		SELECT	 @ReqID
				,@RequestNumner
				,PartNumber
				,Qty
				,GETDATE()
			FROM @RequestLiner

		END
		IF @ReqID<>0
		BEGIN
		SELECT 'PartNumber Requested Successfully' as [Status]
		END
		else
		BEGIN
		SELECT 'PartNumber Request Failed' as [Status]
		END
END

GO
/****** Object:  StoredProcedure [dbo].[usp_RequestStatusUpdate]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Prakash.k
-- Create date: 28-06-2019
-- Description:	Request Status Update
-- =============================================
CREATE PROCEDURE [dbo].[usp_RequestStatusUpdate] 
	(@ReviewedBy NVARCHAR(30) ,
	@Comments NVARCHAR(100) NULL,
		@Status int,
	@RequestHeader dbo.RequestHeader READONLY  )
AS
BEGIN
	

	UPDATE RH SET	RH.Status=R.Status
					,RH.Comments=ISNULL(@Comments,'')
					,RH.ReviewedBy=@ReviewedBy,
					RH.DateOfReview=GETDATE()
		FROM tblRequestHeader RH
		INNER JOIN @RequestHeader R ON R.ReqID=RH.ReqID


	IF @Status=2 
	BEGIN
	SELECT 'Request Approved Successfully' as [Status]
	return
	END
	else IF @Status=3 
	BEGIN
	SELECT 'Request Rejected Successfully' as [Status]
	return
	END


END

GO
/****** Object:  StoredProcedure [dbo].[usp_RFQPriceUpdate]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Prakash.k
-- Create date: 30-06-2019
-- Description:	Quotes Price Update
-- =============================================
CREATE PROCEDURE [dbo].[usp_RFQPriceUpdate] 
	(@RFQNumber NVARCHAR(30) ,
	
	@RFQLiner dbo.RFQLiner READONLY  )
AS
BEGIN
	
DECLARE @RFQID BIGINT

SELECT @RFQID=RFQID FROM tblRFQHeader  WHERE RFQNumber=@RFQNumber;

IF EXISTS (SELECT 1 FROM tblRFQHeader WHERE CAST(BiddingDeadLineDate AS DATE)>= CAST(GETDATE() AS DATE) AND RFQID=@RFQID)
BEGIN


	UPDATE RL SET	RL.Price=R.Price
					,RL.ShippingDate=R.ShippingDate
					,RL.ModifiedDate=GETDATE()
		FROM tblRFQLiner RL
		INNER JOIN @RFQLiner R ON rtrim(ltrim(R.PartNumber))=ltrim(rtrim(RL.PartNumber))
		WHERE RFQID=@RFQID
	UPDATE tblRFQHeader SET Status=5,ModifiedDate=GETDATE() WHERE RFQID=@RFQID

	SELECT 'Quotation Price Received' AS [Status]
	RETURN
END

ELSE
BEGIN
UPDATE tblRFQHeader SET Status=6 WHERE RFQID=@RFQID
SELECT 'Bidding Deadline Closed' AS [Status]
	RETURN
END

	


END


GO
/****** Object:  StoredProcedure [dbo].[usp_UPD_FO_RFQ]    Script Date: 07-06-2024 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_UPD_FO_RFQ] 
(
	 @udt_Vendor_UPD_FO_RFQ_Liner DBO.udt_Vendor_UPD_FO_RFQ_Liner READONLY   

)
AS
BEGIN

	UPDATE r SET
	r.[UOM] = li.[UOM],
	r.[Country_Of_Origin] = li.[Country_Of_Origin],
	r.[Order_Quantity]=li.[Order_Quantity],
	r.[Vendor Quote] = li.[Vendor Quote],
	r.[Currency] = li.[Currency],
	r.[Price Scale (1-3)]=li.[Price_Scale(1-3)],
	r.[Price Scale (4-9)]=li.[Price_Scale(4-9)],
	r.[Price Scale (>=10)]=li.[Price_Scale(>=10)],
	r.[Remarks]=li.[Remarks],
	r.[LeadTime]=li.[LeadTime],
	r.[ErrorStatus] = li.[ErrorStatus],
	[ModifiedDate]=GETDATE()
	FROM dbo.tbl_FO_RFQ_Liner r INNER JOIN @udt_Vendor_UPD_FO_RFQ_Liner li ON r.[SAP Material Number]=li.[Material Number] 
	AND r.[RFQ refer] = li.[RFQ refer]
	WHERE r.[SAP Material Number]=li.[Material Number] AND r.[Vendor ID]=li.[Vendor ID] AND r.[RFQ refer] = li.[RFQ refer] ;

END


GO
USE [master]
GO
