[*.cs]

# CS0169;CS0168;CS0108;CS0414;CS1762: Naming Styles

dotnet_diagnostic.CS0108.severity = none
dotnet_diagnostic.CS0168.severity = none
dotnet_diagnostic.CS0169.severity = none
dotnet_diagnostic.CS0414.severity = none
dotnet_diagnostic.CS1762.severity = none